romfs-backup
romfs/t
romfs/test.img
romfs/.romfs.ko.cmd
romfs/.romfs.mod.cmd
romfs/.romfs.mod.o.cmd
romfs/.romfs.o.cmd
romfs/.storage.o.cmd
romfs/.super.o.cmd
romfs/romfs.ko
romfs/romfs.mod
romfs/romfs.mod.o
romfs/romfs.mod.c
romfs/romfs.o
romfs/storage.o
romfs/super.o
romfs/modules.order
romfs/Module.symvers